* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #e78f01;
}

#myCanvas {
    background-color: rgb(0, 53, 113);
    border: 2px solid #e78f01;
    display: none;
}

#playAgainBtn {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #e78f01;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#playAgainBtn:hover {
    background-color: #f6a017;
    transition: 0.2s ease-in;
}

#centerDiv {
    background-color: rgb(0, 53, 113);
    height: 100vh;
    border: 2px solid #f6a017;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#inputContainer label {

    font-size: 25px;
}

#inputContainer input {
    padding: 6px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

#startGameBtn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #e78f01;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 70%;
    align-self: center;
}

#startGameBtn:hover {
    background-color: #f6a017;
    transition: 0.2s ease-in;
}